<a href="https://colab.research.google.com/github/Soyluisflores/Clase5/blob/main/Clase_10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Clase 10
Flores Hernández Luis Alberto

In [ ]:
thisdict = {
    "brand ": "Ford",
    "model": "Mustang",
    "year" : 2077,
    "year" : 1999
}
print(thisdict)

{'brand ': 'Ford', 'model': 'Mustang', 'year': 1999}

In [ ]:
diccionario = {"phyton": 2.7, "zope": 2.13, "plone": 5.7}

nuevo_diccionario = {}
for clave in diccionario.keys():
  nuevo_diccionario[clave] = diccionario[clave]

print(nuevo_diccionario)

{'phyton': 2.7, 'zope': 2.13, 'plone': 5.7}

In [ ]:
import pandas as pd

#Crear un diccionario con datos
datos = {
    "Nombre" : ["Juan", "Maria", "Pedro", "Luisa"],
    "Edad" : [25, 29, 32, 45],
    "Ciudad" : ["Madrid", "Barcelona", "Valencia", "Sevilla"]
}

dataframe = pd.DataFrame(datos)

print(dataframe)

  Nombre  Edad     Ciudad
0   Juan    25     Madrid
1  Maria    29  Barcelona
2  Pedro    32   Valencia
3  Luisa    45    Sevilla

In [ ]:
#CREAR UNA TUPLA
mi_tupla = (1, 2, 3, "Hola", True)
print(mi_tupla)

(1, 2, 3, 'Hola', True)

In [ ]:
#Si se desea borrar el valor de la lista
mi_tupla = (1, 2, 3, 3, 5)

elemento_a_borrar = 3
nueva_tupla = tuple(elemento for elemento in mi_tupla if elemento != elemento_a_borrar)
print(nueva_tupla)

(1, 2, 5)

In [ ]:
frutas = ("manzana", "fresa", "mango")
for fruta in frutas:
  print(fruta)

manzana
fresa
mango

In [ ]:
frutas = ("manzana", "fresa", "mango")
if "manzana" in frutas:
  print("SI, la manzana está en la tupla")

SI, la manzana está en la tupla

In [ ]:
#FUNCIONES
def mi_funcion():
  print("Hola, te saludo desde la funcion")

In [ ]:
mi_funcion()

Hola, te saludo desde la funcion

In [ ]:
def mi_funcion_nueva(fname):
    print("Hola " +fname + " te saludo desde la funcion")

mi_funcion_nueva("Luis")

Hola Luis te saludo desde la funcion

In [ ]:
def Nombre(fname,lname):
    print("Hola " +fname + "" + lname+ " te saludo desde la función")

Nombre("Luis"," CC")

Hola Luis CC te saludo desde la función

In [ ]:
def mi_funcion(*kids):
    print("El niño menor es" + kids[2])

mi_funcion(" Emil", " Tobias", " Linus")

El niño menor es Linus

In [ ]:
def sum_vec(A,B):
  if len(A) == len(B):
    n=len(A)
    C=n*[0]
    print(C)
    for i in range(n):
      C[i]=A[i]+B[i]
    print("Los vectores se pueden sumar y el resultado es:")
    print(C)

In [ ]:
A=[1, 2, 3, 4, 5]
B=[6, 7, 8, 9, 10]
sum_vec(A,B)

[0, 0, 0, 0, 0]
Los vectores se pueden sumar y el resultado es:
[7, 9, 11, 13, 15]

In [ ]:
#Producto Punto
A = [2, 3, 4]
B = [5, 6, 7]

suma_vectores = [x + y for x, y in zip(A, B)]

producto_punto = sum(x * y for x, y in zip(A, B))

print("Vector suma:", suma_vectores)
print("Producto punto:", producto_punto)

Vector suma: [7, 9, 11]
Producto punto: 56