<a href="https://colab.research.google.com/github/Soyluisflores/Clases/blob/main/Clase_11.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Ejercicio 1 Clase 12 de Octubre
Flores Hern√°ndez Luis Alberto

Funciones

In [ ]:
def mi_funcion(x):
  pass

In [ ]:
x = lambda a : a + 10
print(x(5))

15

In [ ]:
def mi_funcion (n):
  return lambda a: a * n

In [ ]:
midoble = mi_funcion(2)

print(midoble(11))

22

In [5]:
def mi_funci(n):
    for i in n:
        if i % 2 == 0:
            print(i)

lista = list(range(0, 20))
mi_funci(lista)

0
2
4
6
8
10
12
14
16
18

In [6]:
def mi_funci():
    for i in range(1, 101):
        if i % 2 == 0:
            print(i)

mi_funci()

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [7]:
def mi_func():
    lista = []
    for i in range(1, 40):
        if i % 2 == 0:
            lista.append(i)

    print(lista)

mi_func()

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38]

Matrices

In [ ]:
A=[[1, 2, 3], [4, 5, 6], [7,8,9]]
print(A[1][0])

4

In [ ]:
A=[[1, 2, 3], [4, 5, 6], [7,8,9]]
for j in range(len(A)):
  print(A[0][j])

1
2
3

In [ ]:
A=[[1, 2, 3], [4, 5, 6], [7,8,9]]
for j in range(len(A)):
  print(A[j][0])

1
4
7

In [ ]:
A=[[1, 2, 3], [4, 5, 6], [7,8,9]]
for i in range(len(A)):
  for j in range(len(A)):
    print(A[j][i])

1
4
7
2
5
8
3
6
9

In [8]:
A = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
i = 0
for j in range(len(A[i])):
    print(A[i][j])

1
2
3